/* add the base layer */
.cls7 {
    fill:black;
}

/* make the base layer hoverable */
.cls7:hover {
    fill: #3653b6;
    cursor: pointer;
}

/* add the screen */
.cls100 {
    fill: #939597;
    mix-blend-mode: screen;
}

/* make the screen hoverable */
.cls100:hover {
    fill: #3653b6;
    cursor: pointer;
}

/* not relevant for us */

.cls2 {
    fill: #fff;
}

.cls3 {
    fill: #939597;
}

.cls1,
.cls4 {
    fill: #58585b;
}

.cls3,
.cls4 {
    stroke: #616162;
    stroke-width: 0.01px;
}

.cls3,
.cls4,
.cls6 {
    stroke-miterlimit: 10;
}

.cls5,
.cls6 {
    fill: none;
}

.cls5 {
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
}

.cls6 {
    stroke: #939597;
    stroke-width: 5px;
}