.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 50px;
}


.content {
    grid-column: auto / span 3;
    min-height: 35vh;
}

/*.exhibitImg{
	margin-top: 40px;
	margin-bottom: -80px;
}*/