.floto {
    /* fixed: follow on scroll */
    /* absolute: stay in place */
    /* top: how far from the top of screen */
 

    left: 0;
    z-index: 10;

    /* expand to height of masthead */
    height: 100vh;

    /* set child inside flexbox */
    display: flex;
    justify-content: center; /* left-right alignment */
    align-items: flex-start;  /* top-down alignment */
}

.text {
    /* add padding against the top of the parent */
    padding-bottom: 10px;

    /* font style */
    color: white;
    font-family: "Peabody Variable", sans-serif;
    font-variation-settings: "wdth" 1000;
    text-transform: uppercase;
    font-size: 14vh;

    /* text orientation */
    text-orientation: sideways-right;
    writing-mode: vertical-rl;
    transform: rotate(180deg);


    /* height: 100vh; */
    
    
    


}

.transparent {
    opacity: 0;

    /* fade animation */
    animation-name: fadeOut;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 0.5s;
}

.opaque {
    opacity: 1;

    /* fade animation */
    animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 0.5s;
}

@keyframes fadeIn {
	0% {
        opacity: 0;
	}
	100% {
        opacity: 1; 
	}
}

@keyframes fadeOut {
	0% {
        opacity: 1;
	}
	100% {
        opacity: 0;
	}
}
