.floto {
    /* fix to the top left */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    /* expand to height of masthead */
    height: 100vh;

    /* set child inside flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    /* add padding against the top of the parent */
    padding-bottom: 10px;

    /* style */
    color: white;
    font-family: "GT America Expanded Black", sans-serif;
    height: 100vh;
    text-transform: uppercase;

    /* flip sideways */
    text-orientation: sideways-right;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.transparent {
    opacity: 0;

    /* fade animation */
    animation-name: fadeOut;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 0.5s;
}

.opaque {
    opacity: 1;

    /* fade animation */
    animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 0.5s;
}

@keyframes fadeIn {
	0% {
        opacity: 0;
	}
	100% {
        opacity: 1; 
	}
}

@keyframes fadeOut {
	0% {
        opacity: 1;
	}
	100% {
        opacity: 0;
	}
}
