.hero {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    /* make each slide image be responsive */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    /* animate each slide */
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.heroInner {
    width: 60vw;
    margin-right: 20px;
    margin-bottom: 20px;
}

.text {
    color: white;
    text-align: right;
}

.title {
    font-size: 3rem;
    line-height: 2.5rem;
    margin-bottom: 0;
    word-wrap: break-word;
    hyphens: manual;
}

.subtitle {
    font-size: 2rem;
    line-height: 1.7rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* radio buttons */

.controls {
    text-align: right;
    align-self: end;
}

.controls > * {
    /*margin-left: 10px;*/
}

.radio {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    margin: 1px 5px;
}

.radioSelected{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
}

/* Media Query */

@media screen and (min-width: 768px) {
    .heroInner {
        display: grid;
        grid-template-columns: auto 25px;
        grid-column-gap: 10px;
    }
}
