.hero {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.text {
    margin-right: 50px;
    margin-bottom: 50px;

    color: white;
    text-align: right;
    text-transform: uppercase;
}

.title {
    font-family: "GT America Black", sans-serif; 
    font-size: 2rem;
}

.subtitle {
    font-family: "GT America Expanded Medium", sans-serif;
    font-size: 1.5rem;
}

/* radio buttons */

.controls > * {
    margin-left: 10px;
}
/* 
.controls > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.controls:hover input ~ .checkmark {
  background-color: #ccc;
}


.controls input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
} */