.row {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
}

.title {
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2rem;
    margin-right: 10px;
}

.image {
    object-fit: cover;
    margin-top: 15px;
    margin-right: 10px;
    width: 100%;
    max-height: 300px;
}

.caption{
    margin: 0px;
    margin-bottom: 15px;
}

.description {
    margin-bottom: 10px;
    margin-right: 10px;
}
