.sidebar {
    /* border-right: 1px solid grey; */
    height: 100%;
}

.links {
    /* text-indent: 10%; */
}

.links>* {
    display: block;
    color: black;
    text-decoration: none;
}

.heading {
}


.activeLink {
	font-weight: 700;
	color: red;
}