.sidebar {
    /* border-right: 1px solid grey; */
    height: 100%;
}

.links {
    /* text-indent: 10%; */
}

.links>* {
    display: block;
}

.heading {
    font-size: 1.2rem;
    font-weight: bold;
}
