.sidebar {
    /* border-right: 1px solid grey; */
    height: 100%;
}

.links {
    /* text-indent: 10%; */
}

.links>* {
    display: block;
    color: black;
    text-decoration: none;
}

.activeLink {
	font-weight: 700;
}

.heading {
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 18px;
	margin-bottom:33px;
}