
.footer {
    font-size: 0.9rem;
    line-height: 1.2rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}

span .footer {
    line-height: 1rem;
    margin-bottom: .2rem;
}

.links {
    display: grid;
    /* each column can be 5 rows long */
    grid-template-rows: repeat(5, auto);
    /* each row is variable no of columns wide, each atleast 100 px */
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    /* place content by column */
    grid-auto-flow: column;
    /*  space between columns */
    grid-column-gap: 10px;
}

.link {
    display: block;
}

.icons > * {
    margin-right: 10px;
}

.separator {
    border-top: 1px solid navy;
}