.cls-1,
.cls-8 {
    fill: black;
}

.cls-100 {
    fill: red;
    mix-blend-mode: screen;
}

.cls-100:hover {
    fill: rgb(27, 103, 218);
    cursor: pointer;
}

.cls-8:hover {
    fill: rgb(27, 103, 218);
    cursor: pointer;
}

.cls-1,
.cls-2 {
    stroke: #000;
    stroke-width: 0.25px;
}

.cls-1,
.cls-2,
.cls-6,
.cls-7 {
    stroke-miterlimit: 10;
}

.cls-2,
.cls-3 {
    fill: #464545;
}

.cls-4 {
    fill: #fff;
}

.cls-5,
.cls-6,
.cls-7 {
    fill: none;
}

.cls-5 {
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
}

.cls-6 {
    stroke: #464545;
}

.cls-6,
.cls-7 {
    stroke-width: 5px;
}

.cls-7 {
    stroke: #bcbec0;
}
