/* add the base layer */
.cls3 {
    fill: #939597;
}

/* make the base layer hoverable */
.cls3:hover {
    fill: #3653b6;
    cursor: pointer;
}

/* ignore the other stuff */

.cls1 {
    fill: #58585b;
}

.cls1,
.cls3 {
    stroke: #fff;
}

.cls1,
.cls2,
.cls3 {
    stroke-miterlimit: 10;
    stroke-width: 4px;
}

.cls2 {
    fill: none;
    stroke: #939597;
}

