/* ask sarim for help figuring this out */

/* add the base layer */
.cls7 {
    fill: black;
}

/* make the base layer hoverable */
.cls7:hover {
    fill: #3653b6;
    cursor: pointer;
}

/* add the screen */
.cls100 {
    fill: #939597;
    mix-blend-mode: screen;
}

/* make the screen hoverable */
.cls100:hover {
    fill: #3653b6;
    cursor: pointer;
}

/* not relevant for us */

.cls1 {
    fill: #464545;
}

.cls1, .cls2 {
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 4px;
}

.cls2 {
    fill: #868586;
}