.top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title {
    padding: 0!important;
    margin-bottom: 10px;
}

.more {
	font-size:1rem;
	font-weight:700;
}

