.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.title {
    margin-bottom: 15px;
}

.subtitle {
    font-size: 1.1rem;
    margin-right: 10px;
    min-height: 80px;
    line-height: 2rem;
}

.image {
    object-fit: cover;
    margin-right: 10px;
    width: 95%;
    max-height: 300px;
}

.description {
    margin-right: 10px;
    margin-top: 10px;
}
