.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 30px;
}

.content {
    grid-column: auto / span 3;
    min-height: 35vh;
}

