/* fonts */

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Normal.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Normal\ Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Book.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Book\ Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Medium.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Medium\ Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Bold\ Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Black.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Black\ Italic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Peabody Variable';
    src: url('./fonts/peabodymeta-VF.ttf') format('truetype');
}

/* remove a link decoration sitewide */

p > a {
    text-decoration: none;
    color: #939597;
}

a:hover {
    color: #5b91ff;
}


html {
    /* font-size: 18px; */
    line-height: 22px;
    font-family: "FF Meta Pro", sans-serif;
}

body {
    font-family: "FF Meta Pro", sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2.2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    font-family: "FF Meta Pro", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
}

/* container */

.container {
    margin: 0 auto;
    position: relative;
}

@media screen and (min-width: 1088px) {
    .container {
        max-width: 960px;
        width: 960px;
    }

    .container.is-fluid {
        margin-left: 64px;
        margin-right: 64px;
        max-width: none;
        width: auto;
    }
}

@media screen and (max-width: 1279px) {
    .container.is-widescreen {
        max-width: 1152px;
        width: auto;
    }
}

@media screen and (max-width: 1471px) {
    .container.is-fullhd {
        max-width: 1344px;
        width: auto;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1152px;
        width: 1152px;
    }
}

@media screen and (min-width: 1472px) {
    .container {
        max-width: 1344px;
        width: 1344px;
    }
}


/* section */

.section {
    padding: 3rem 1.5rem;
}

@media screen and (min-width: 1088px) {
    .section.is-medium {
        padding: 9rem 1.5rem;
    }

    .section.is-large {
        padding: 18rem 1.5rem;
    }
}

/* image fixes */

.imageKing {
    object-fit: cover;
    max-height: 100%;
    width: 100%;
}

/* Exhibits, Collections, Learn, About */