/* fonts */

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Bold.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Bold\ Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Book.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Book\ Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Medium.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Medium\ Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Bold\ Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Black.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'FF Meta Pro';
    src: url('./fonts/FF\ Meta\ Pro\ -\ Black\ Italic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}





/* remove a link decoration sitewide */

a:link {
    text-decoration: none!important;
}

a:visited {
    text-decoration: none!important;
}

a:hover {
    text-decoration: none!important;
}

a:active {
    text-decoration: none!important;
}

