/* Page organization */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    grid-column-gap: 50px;
    grid-row-gap: 30px;
}

.gridLeft {
    /* grid-column: auto / span 1; */
}

.gridMiddle {
    grid-column: auto / span 4;
}

.gridRight {
    grid-column: auto / span 2;
    width: 100%;
}

/* Menu */

.menuContent {
    /* padding-top: 20px; */
    /* padding-left: 20px;
    padding-right: 20px; */

    display: flex!important;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    object-fit: cover;
    max-height: 300px;
    width: 100%;
}

.title {
    margin-top: 10px;
    margin-bottom: 0px;
    /* line-height: 0; */
    text-transform: uppercase;
}

.description {
    /* font-size: 16px; */
    /* color: rgb(199, 194, 194); */
}

.more {
    margin-top: 0px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height:1.7rem;
}
