/* Page organization */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-column-gap: 50px;
}

.gridRight {
    grid-column: auto / span 3;
    min-height: 35vh;
}

.floor {
    padding-bottom: 100px;
    height: 100%;
}

/* Menu */

.menuContent {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex!important;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    object-fit: cover;
    max-height: 300px;
    width: 100%;
}

.title {
    font-size: 20px;
    color: white;
}

.description {
    font-size: 16px;
    color: rgb(199, 194, 194);
}

.more {
    padding-top: 20px;
}
