.section {
    margin-top: 60px;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
}

.sidebar {
    /* border-right: 1px solid grey; */
    height: 100%;
}

.content {
    min-height: 35vh;
}

.heading {
    /* text-transform: uppercase; */
    font-family: 'GT America', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.links {
    font-family: 'GT America', sans-serif;
    /* text-indent: 10%; */
}

.links > * {
    display: block;
}