.nav {
    /* move on top of background */
    width: 100%;
    position: fixed;
    top: 0px; 
    left: 0px;
    z-index: 1;
    overflow: hidden;
}

.links {
    /* text style */
    color: white;
    font-family: "GT America Medium", sans-serif;

    /* layout of children */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* let them breathe */
    padding-top: 20px;
    padding-bottom: 20px;

    /* add bottom border */
    border-bottom: 2px solid white;
    width: 500px;
    margin-left: auto;
}

.link {
    margin-right: 25px;
}

.opaque {
    /* set nav black */
     background-color: rgba(0, 0, 0, 1.0);

    /* fade animation */
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 0.4s;
}

.opaque > * {
    /* remove white border from the links classs */
    border-bottom: 0px !important;
}

@keyframes fadeInOpacity {
	0% {
        background-color: rgba(0, 0, 0, 0.0);
	}
	100% {
        background-color: rgba(0, 0, 0, 1.0); 
	}
}