.nav {
    /* move on top of background */
    width: 100%;
    position: fixed;
    top: 0px; 
    left: 0px;
    z-index: 2;
    overflow: hidden;

    /* layout of logo and links */
    display: flex;
    justify-content: space-between;
}

.logo {
    /* initial opacity */
    opacity: 0;
    
    /* text style */
    color: white;

    /* let it breathe */
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25px;

}


.links {
    /* text style */
    color: white;
    font-weight: 600;

    /* layout of children */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* let them breathe */
    padding-top: 20px;
    padding-bottom: 20px;

    /* add bottom border */
    border-bottom: 2px solid white;
    /* width: 100%; */
    margin-left: auto;
}

.link {
    margin-right: 30px;
    text-decoration: none;
    color: inherit;
}

.linkFirst {
    margin-left:30px;
}

/*.link:hover {
    color: #5b91ff;
}*/


.logoTransparent {
    opacity: 0;

    /* fade animation */
    animation-name: logoFadeOut;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 0.5s;
}

.logoOpaque {
    opacity: 1;

    /* fade animation */
    animation-name: logoFadeIn;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 0.5s;
}

.barOpaque {
    /* set nav black */
    background-color: rgba(0, 0, 0, 1.0);

    /* fade animation */
	animation-name: barFadeIn;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 0.5s;
}

.barOpaque > * {
    /* remove white border from the links classs */
    border-bottom: 0px !important;
}

.barTransparent {
    background-color: rgba(0, 0, 0, 0.0);
    animation-name: barFadeOut;
    animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 0.5s;
}

@keyframes barFadeIn {
	0% {
        background-color: rgba(0, 0, 0, 0.0);
	}
	100% {
        background-color: rgba(0, 0, 0, 1.0); 
	}
}

@keyframes barFadeOut {
	0% {
        background-color: rgba(0, 0, 0, 1.0);
	}
	100% {
        background-color: rgba(0, 0, 0, 0.0); 
	}
}

@keyframes logoFadeIn {
	0% {
        opacity: 0;
	}
	100% {
        opacity: 1; 
	}
}

@keyframes logoFadeOut {
	0% {
        opacity: 1;
	}
	100% {
        opacity: 0;
	}
}
