.overlay { 
    /* stay in place */
    position: fixed; 
    left: 0;
    top: 0;
    z-index: 15;
    height: 100%;
    width: 100%;
    overflow: hidden; 

    /* overlay background */
    background-color: rgba(0,0,0, 0.9); 
}

.text {
    /* font style */
    color: white;
    font-family: "Peabody Variable", sans-serif;
    font-variation-settings: "wdth" 1000, "wght" 800;
    font-size: 15vh;

    /* text orientation */
    text-orientation: sideways-right;
    writing-mode: vertical-rl;
    transform: rotate(180deg);


}

.controls {
    margin-top: 20px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.cross {
    color: white;
}

.leftRight {
    display: flex;
}

.left {
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    .right {
      margin-left: 50px!important;
    }   
}

.right {
    margin-left: 80px;
    width: 100%;
    height: 100%;
    
    overflow:auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: row;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: space-between;
    color: white;
}

.links {
    margin-top: 20px;
    font-weight: 400;
}


.heading > * {
    margin-bottom: 20px;
    font-weight: 600;

    color: inherit;
    text-decoration: none;
}


.links > * {
    display: block;
    margin-bottom: 5px;
    color: inherit;
    text-decoration: none;
}

.transparent {
    opacity: 0;
    animation-name: fadeOut;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 0.5s;
}

.opaque {
    opacity: 1;
    animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 0.5s;
}

@keyframes fadeIn {
	0% {
        opacity: 0;
	}
	100% {
        opacity: 1; 
	}
}

@keyframes fadeOut {
	0% {
        opacity: 1;
	}
	100% {
        opacity: 0;
	}
}
